.main-container{
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Item LIst */
.Item-list{
    width: 1000px;
    border: solid 1px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}


.table-striped{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1000px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}